.pricing-card {
  width: 250px; /* Set a fixed width for the pricing cards */
  margin: 0 10px; /* Add margin for spacing */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Styles for mobile devices */
.pricing-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  gap: 20px; /* Add spacing between cards */
}

/* Media query for desktop devices */
@media (min-width: 1280px) {
  .pricing-cards-container {
    flex-direction: row; /* Stack cards horizontally on larger screens */
    justify-content: center; /* Center cards horizontally */
  }

  .pricing-card {
    width: 300px; /* Maintain fixed width for horizontal stacking */
    margin-right: 20px; /* Add spacing between cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .pricing-card:last-child {
    margin-right: 0; /* Remove margin from the last card */
  }
}


/* Media query for tablet devices */
@media (max-width: 1279px) {
  .pricing-cards-container {
    flex-direction: column; /* Stack cards vertically on tablet screens */
    padding: 0 20px; /* Add padding to the container */
  }

  .pricing-card {
    width: calc(100% - 40px); /* Full width minus padding for each card in tablet mode */
    margin-right: 0; /* Remove margin between cards in tablet mode */
    margin-bottom: 20px; /* Add spacing between cards vertically */
    padding: 20px; /* Add padding to each card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .pricing-card:last-child {
    margin-bottom: 0; /* Remove margin from the last card in tablet mode */
  }
}

.pricing-card:hover {
  transform: translateY(-5px); /* Move the card 5px up on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Adjust box shadow for hover effect */
  
}