.navbar-container {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #fff; /* Set the background color */
    border-bottom: 1px solid #ccc; /* Add a border to visually separate from the content */
  }
  
  
  
  .calligraphy {
    font-family: 'Dancing Script', cursive;
    /* font-size: 3rem; */
    font-weight: 400;
    font-style: italic;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }